body {
    background: #2C2A2A;
}


#loading {
    position: absolute;
    width: 600px;
    height: 36px;
    left: 50%;
    top: 40%;
    margin-left: -300px;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

    #loading div {
        position: absolute;
        width: 20px;
        height: 36px;
        opacity: 0;
        font-size: 20px;
        font-family: Helvetica, Arial, sans-serif;
        animation: move 2s linear infinite;
        -o-animation: move 2s linear infinite;
        -moz-animation: move 2s linear infinite;
        -webkit-animation: move 2s linear infinite;
        transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        color: #DE7676;
    }

        #loading div:nth-child(2) {
            animation-delay: 0.2s;
            -o-animation-delay: 0.2s;
            -moz-animation-delay: 0.2s;
            -webkit-animation-delay: 0.2s;
        }

        #loading div:nth-child(3) {
            animation-delay: 0.4s;
            -o-animation-delay: 0.4s;
            -webkit-animation-delay: 0.4s;
            -webkit-animation-delay: 0.4s;
        }

        #loading div:nth-child(4) {
            animation-delay: 0.6s;
            -o-animation-delay: 0.6s;
            -moz-animation-delay: 0.6s;
            -webkit-animation-delay: 0.6s;
        }

        #loading div:nth-child(5) {
            animation-delay: 0.8s;
            -o-animation-delay: 0.8s;
            -moz-animation-delay: 0.8s;
            -webkit-animation-delay: 0.8s;
        }

        #loading div:nth-child(6) {
            animation-delay: 1s;
            -o-animation-delay: 1s;
            -moz-animation-delay: 1s;
            -webkit-animation-delay: 1s;
        }

        #loading div:nth-child(7) {
            animation-delay: 1.2s;
            -o-animation-delay: 1.2s;
            -moz-animation-delay: 1.2s;
            -webkit-animation-delay: 1.2s;
        }

@keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }

    35% {
        left: 41%;
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    65% {
        left: 59%;
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        left: 100%;
        -moz-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }
}

@-moz-keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }

    35% {
        left: 41%;
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    65% {
        left: 59%;
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        left: 100%;
        -moz-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }
}

@-webkit-keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }

    35% {
        left: 41%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    65% {
        left: 59%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        left: 100%;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }
}

@-o-keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }

    35% {
        left: 41%;
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    65% {
        left: 59%;
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        left: 100%;
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }
}

.square {
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 50%;
    background: #F2B6B6;
    top: 100px;
    left: 100px;
    box-shadow: 0px 5px 35px rgba(0,0,0,0.3);
    opacity: 0.8;
    transition: 0.5s;
    animation: squareanimate 7s linear infinite;
    z-index: 11;
}

.square2 {
    width: 50px;
    height: 50px;
    top: 200px;
    left: 391px;
    position: absolute;
    border-radius: 50%;
    background: #F2B6B6;
    box-shadow: 0px 5px 35px rgba(0,0,0,0.3);
    opacity: 0.8;
    transition: 0.5s;
    animation: squareanimate 6.4s linear infinite;
    z-index: 9;
}

.square3 {
    width: 120px;
    height: 120px;
    top: 500px;
    left: 350px;
    position: absolute;
    border-radius: 50%;
    background: #F2B6B6;
    box-shadow: 0px 5px 35px rgba(0,0,0,0.3);
    opacity: 0.8;
    transition: 0.5s;
    animation: squareanimate 6.1s linear infinite;
    z-index: 11;
}

.square4 {
    width: 30px;
    height: 30px;
    top: 10px;
    left: 600px;
    position: absolute;
    border-radius: 50%;
    background: #F2B6B6;
    box-shadow: 0px 5px 35px rgba(0,0,0,0.3);
    opacity: 0.8;
    transition: 0.5s;
    animation: squareanimate 6.5s linear infinite;
    z-index: 11;
}

.square5 {
    width: 130px;
    height: 130px;
    top: 70px;
    left: 1455px;
    position: absolute;
    border-radius: 50%;
    background: #F2B6B6;
    box-shadow: 0px 5px 35px rgba(0,0,0,0.3);
    opacity: 0.8;
    transition: 0.5s;
    animation: squareanimate 6.9s linear infinite;
    animation-delay: 2.5s;
    z-index: 11;
}

.square6 {
    width: 100px;
    height: 100px;
    top: 45px;
    left: 1000px;
    position: absolute;
    border-radius: 50%;
    background: #F2B6B6;
    box-shadow: 0px 5px 35px rgba(0,0,0,0.3);
    opacity: 0.8;
    transition: 0.5s;
    animation: squareanimate 7.5s linear infinite;
    z-index: 11;
}

.square7 {
    width: 120px;
    height: 120px;
    top: 590px;
    left: 1440px;
    position: absolute;
    border-radius: 50%;
    background: #F2B6B6;
    box-shadow: 0px 5px 35px rgba(0,0,0,0.3);
    opacity: 0.8;
    transition: 0.5s;
    animation: squareanimate 7.2s linear infinite;
    z-index: 9;
}

@keyframes squareanimate {
    0% {
        transform: translateY(-40px);
    }

    50% {
        transform: translateY(40px);
    }

    100% {
        transform: translateY(-40px);
    }
}
@media only screen and (max-width:1366px) {
    .square {
        width: 90px;
        height: 90px;
        position: absolute;
        border-radius: 50%;
        background: #F2B6B6;
        top: 100px;
        left: -180px;
        box-shadow: 0px 5px 35px rgba(0,0,0,0.3);
        opacity: 0.8;
        transition: 0.5s;
        animation: squareanimate 7s linear infinite;
        z-index: 11;
    }

    .square2 {
        width: 50px;
        height: 50px;
        top: 200px;
        left: 111px;
        position: absolute;
        border-radius: 50%;
        background: #F2B6B6;
        box-shadow: 0px 5px 35px rgba(0,0,0,0.3);
        opacity: 0.8;
        transition: 0.5s;
        animation: squareanimate 6.4s linear infinite;
        z-index: 9;
    }

    .square3 {
        width: 120px;
        height: 120px;
        top: 500px;
        left: 70px;
        position: absolute;
        border-radius: 50%;
        background: #F2B6B6;
        box-shadow: 0px 5px 35px rgba(0,0,0,0.3);
        opacity: 0.8;
        transition: 0.5s;
        animation: squareanimate 6.1s linear infinite;
        z-index: 11;
    }

    .square4 {
        width: 30px;
        height: 30px;
        top: 10px;
        left: 320px;
        position: absolute;
        border-radius: 50%;
        background: #F2B6B6;
        box-shadow: 0px 5px 35px rgba(0,0,0,0.3);
        opacity: 0.8;
        transition: 0.5s;
        animation: squareanimate 6.5s linear infinite;
        z-index: 11;
    }

    .square5 {
        width: 130px;
        height: 130px;
        top: 70px;
        left: 1175px;
        position: absolute;
        border-radius: 50%;
        background: #F2B6B6;
        box-shadow: 0px 5px 35px rgba(0,0,0,0.3);
        opacity: 0.8;
        transition: 0.5s;
        animation: squareanimate 6.9s linear infinite;
        animation-delay: 2.5s;
        z-index: 11;
    }

    .square6 {
        width: 100px;
        height: 100px;
        top: 45px;
        left: 720px;
        position: absolute;
        border-radius: 50%;
        background: #F2B6B6;
        box-shadow: 0px 5px 35px rgba(0,0,0,0.3);
        opacity: 0.8;
        transition: 0.5s;
        animation: squareanimate 7.5s linear infinite;
        z-index: 11;
    }

    .square7 {
        width: 120px;
        height: 120px;
        top: 590px;
        left: 1160px;
        position: absolute;
        border-radius: 50%;
        background: #F2B6B6;
        box-shadow: 0px 5px 35px rgba(0,0,0,0.3);
        opacity: 0.8;
        transition: 0.5s;
        animation: squareanimate 7.2s linear infinite;
        z-index: 9;
    }
}
