
@{
    ViewBag.Title = "FeedBack";
    Layout = "~/Views/Shared/SmallUserPage.cshtml";
}
<style>
    .Contact-form {
        width: 1060px;
        height: 600px;
        background: #f2b1b1;
        border-radius: 10px;
        padding-top: 50px;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
    }

    .Map {
        width: 100%;
        height: 400px;
        background: white;
        overflow: hidden;
    }

    .feedback-form input {
        height: 30px;
        width: 340px;
        margin-bottom: 20px;
        outline: none;
        padding: 5px;
        border-bottom: 2px solid #f2b1b1;
        background: none;
        border-right: none;
        border-left: none;
        border-top: none;
    }

    .feedback-form textarea {
        width: 340px;
        height: 370px;
        outline: none;
        padding: 5px;
        border: 2px solid #f2b1b1;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .feedback-form button {
        width: 100px;
        height: 50px;
        border: 2px solid #f2b1b1;
        cursor: pointer;
        background: #f2b1b1;
        color: white;
        font-weight: 600;
    }

    .Contact-info {
        height: 150px;
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .Contact-info .info-left {
        box-sizing: border-box;
        float: left;
        width: 20%;
    }

    .Contact-info .info-right {
        box-sizing: border-box;
        float: left;
        width: 20%;
    }

    .Contact-info .info-left li {
        text-decoration: none;
        list-style-type: none;
        margin-left: 50px;
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .Contact-info .info-left, .info-right {
        margin-top: 50px;
    }

    .Contact-info .info-right li {
        text-decoration: none;
        list-style-type: none;
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
    }

    h4 {
        margin-left: 10px;
        text-align: center;
        color: #707070;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .head-address {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 5px;
    }
</style>
<div class="Contact-form">
    <div class="Map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.282982036417!2d106.69300111535635!3d10.789624961899039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529a1b2a41a6d%3A0xf1ac6a5097ebbabb!2sMAAC%20Vietnam!5e0!3m2!1svi!2s!4v1619451258207!5m2!1svi!2s" width="1060" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="Contact-info">
        <div class="info-left">
            <ul>
                <li class="head-address">Our Address</li>
                <li>Da Kao, P1, Q1</li>
                <li>TP.HCM</li>
            </ul>
        </div>
        <div class="info-right">
            <ul>
                <li class="head-address">Our Contact</li>
                <li>+84 999999880</li>
                <li>helloworld@gmail.com</li>
            </ul>
        </div>
    </div>
</div>
<div class="feedback-form">
    <h4>FEEDBACK FORM</h4>
    <form>
        <input type="text" id="email" value="" required placeholder="Your Email" />
        <br />
        <textarea id="textarea" placeholder="Send To ChocoGear..."></textarea>
        <button onclick="click_send();">Send</button>
    </form>
</div>
@section script_admin{
    <script>
        function click_send() {
            var email = $('#email').val();
            var content = $('#textarea').val();
            $.ajax({
                method: "Post",
                url: 'CreateFeedBack',
                data: { email: email, content: content }
            }).done(function (msg) {
                alert("success");
            });
        }
    </script>
    }
