
@{ ViewBag.Title = "Product";
    Layout = "~/Views/Shared/UserPage.cshtml";
    List<ChocoGear.Models.ModelView.ProductView> pv = new List<ChocoGear.Models.ModelView.ProductView>();
    List<ChocoGear.Models.ModelView.CategoryView> cv = new List<ChocoGear.Models.ModelView.CategoryView>();
    @*List<ChocoGear.Models.ModelView.CartView> cart = new List<ChocoGear.Models.ModelView.CartView>();*@
    pv = ViewBag.listproduct;
    cv = ViewBag.listcate;

}

<div class="small-container">
    @foreach (var items in cv)
    {
        <h1 class="titleofbook">@items.name_category</h1>
        <div class="row">

            @foreach (var item in pv)
            {
                if (item.name_category == items.name_category)
                {
                    <div class="col-4">
                        <img src="~/Areas/Admin/Upload/@item.name_image" style="width: 70%; height: 80%;" alt="" />
                        <h4>@item.name_product</h4>
                        <div class="rating" style="margin-bottom: 5px;">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div><p>Price: @item.price$</p></div>
                        <br />
                        <a href="@Url.Action("AddToCart",new { id=item.id})" class="btn-buy">Buy</a>
                        <a href="#" class="btn-seemore">See more</a>
                    </div>
                }
            }
        </div>
        <h3 class="" style="text-align: center; margin-bottom: 25px;"><a href="#">More...</a></h3>

    }
</div>
